**Decision Tree Classification**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/salaries.csv')
df.head()

In [ ]:
input = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']
input.head()

In [12]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

**Label Encoding**

In [13]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder() 
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [14]:
input['company_n'] = le_company.fit_transform(input['company'])
input['job_n'] = le_job.fit_transform(input['job'])
input['degree_n'] = le_degree.fit_transform(input['degree'])
input.head()

  company                  job  degree  company_n  job_n  degree_n
0  google      sales executive       0          2      2         0
1  google      sales executive       1          2      2         1
2  google     business manager       0          2      0         0
3  google     business manager       1          2      0         1
4  google  computer programmer       0          2      1         0

In [15]:
input_n = input.drop(['company', 'job', 'degree'],axis = 'columns')
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

**Traning Model**

In [16]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(input_n,target)

DecisionTreeClassifier()

**Measure accuracy of our model**

In [17]:
model.score(input_n,target)

1.0

In [18]:
model.predict([[1,1,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])